<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ravi.minuteyogas.justgeek.yogafitnes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="ravi.minuteyogas.justgeek.yogafitnes.MainActivity"></activity>

        <activity android:name="ravi.minuteyogas.justgeek.yogafitnes.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.Training"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.Setting"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.DailyTraining"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.Calendars"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.AllExercise"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />
        <activity android:name="ravi.minuteyogas.justgeek.yogafitnes.Detail" />
        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.Alarm"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />

        <receiver android:name="ravi.minuteyogas.justgeek.yogafitnes.AlarmNotificationReceiver" />

        <activity
            android:name="ravi.minuteyogas.justgeek.yogafitnes.YogaVideo"
            android:parentActivityName="ravi.minuteyogas.justgeek.yogafitnes.MainActivity" />

    </application>

</manifest>